<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tmd.tmd.TheMagicSlime">

    <dist:module dist:instant="true" />

    <supports-screens android:resizeable="true"
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"
   />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconslime"
        android:label="The Magic Slime"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tmd.tmd.TheMagicSlime.Main6Activity"
            android:label="@string/title_activity_main6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.Main5Activity" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.Main4Activity" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.Main3Activity" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.Main2Activity" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.StartGameActivity" />
        <activity android:name="com.tmd.tmd.TheMagicSlime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5721136288760913~9327955877" />
    </application>

</manifest>